extends layout

block scripts
  script(rel='text/javascript', src='/js/lib/Charts.js')
  script(rel='text/javascript', src='/js/ko.bindings.js')
  script(rel='text/javascript', src='/js/app.js')
  script(rel='text/javascript', src='/js/types.js')
  script(rel='text/javascript', src='/js/jenkins.js')
  script(rel='text/javascript', src='/js/radiator.js')

block content
  include ./templates/tpl-radiator.jade
  div(class='ui')
    div(class='ui small progress red fixed top sticky' data-bind='attr: {\'data-percent\': timerProgress}')
      div(class='bar' style='transition-duration: 250ms' data-bind='style: {width: timerProgressPercent}')
        div(class='progress' data-bind='text: timerValue')
    div(class='ui' data-bind='template: {name: \'job-template\', foreach: jobs, as: \'job\', afterRender: postProcess}')
    div(class='ui three column grid' id='context')
      div(class='column')
      div(class='column')
      div(class='column')
