extends layout

block scripts
  script(rel='text/javascript', src='/js/ko.bindings.js')
  script(rel='text/javascript', src='/js/app.js')
  script(rel='text/javascript', src='/js/types.js')
  script(rel='text/javascript', src='/js/setup.js')

block content
  div(class='pushable')
    div(class='pusher')
      div(class='ui inverted vertical masthead center aligned segment')
        h2(class='ui icon header')
          i(class='settings icon')
          div(class='content')
            | njsRadiator Settings
        p(class="text small")
          | Setup your radiator basic data
      div(class='ui vertical stripe segment')
        div(class='ui middle aligned stackable grid container')
          form(class='ui form')
            div(class='fields')
              div(class='field')
                label Login
                input(type='text' name='user' placeholder='Login')
              div(class='field')
                label Password
                input(type='text' name='pass' placeholder='Password')
            div(class='field')
              label Jenkins URL (parametrized)
              input(type='text' name='jenkinsUrl' placeholder='https://{0}:{1}@jenkins.blstream.net/jenkins')
            button(class='ui button' type='submit') Save
            button(class='ui button' type='') Go back radiating

