script#job-template(type='text/html').
    <div class="ui centered segment inverted" data-bind="jobStatusColor: color">
      <div class="content">
        <h3><a class="ui grey inverted header" data-bind="attr: {href: url}, text: name"></a></h3>
        <!-- ko if: loading -->
          <div class="ui active dimmer">
            <div class="ui loader"></div>
          </div>
        <!-- /ko -->
        <!-- ko if: job.detailsLoaded -->
          Last build: <a data-bind="attr: {href: lastBuild.url}, text: lastBuild.number" target="_blank"></a> by
        <!-- /ko -->
        <!-- ko if: lastBuildInfo().loading -->
        Loading...
        <!-- /ko -->
        <!-- ko if: lastBuildInfo().changeSet-->
          <!-- ko if: lastBuildInfo().building -->
            <div class="ui">
              <i class="settings icon"></i>Building now...
            </div>
          <!-- /ko -->
          <!-- ko if: lastBuildInfo().changeSet.items().length > 0 -->
          <div class="ui">
            <a data-bind="attr: {href: $data.lastBuildInfo().changeSet.items()[0].author.absoluteUrl},
                text: $data.lastBuildInfo().changeSet.items()[0].author.fullName"></a>
            <div class="" data-bind="text:  $data.lastBuildInfo().changeSet.items()[0].date"></div>
            <a data-bind="attr: {href: lastBuildInfo().gitCommitUrl }, text:  $data.lastBuildInfo().changeSet.items()[0].commitId" target="_blank"></a>
            <div class="" data-bind="text: $data.lastBuildInfo().changeSet.items()[0].msg"></div>
          </div>
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: lastBuildInfo().actions -->
          <div class="ui" data-bind="text: $data.lastBuildInfo().actions.causes()[0].shortDescription"></div>
        <!-- /ko -->
        </div>
    </div>
