script#job-template(type='text/html').
    <div class="ui centered segment inverted" data-bind="jobStatusColor: color">
      <div class="content">
        <h1><a class="header" data-bind="attr: {href: url}, text: name"></a></h1>
        <!-- ko if: loading -->
          <div class="ui active dimmer">
            <div class="ui loader"></div>
          </div>
        <!-- /ko -->
        <!-- ko if: job.detailsLoaded -->
          <!--Last build: <a data-bind="text: lastBuild.number, click: $root.getLastBuildInfo.bind($data)"></a>-->
          Last build: <a data-bind="attr: {href: lastBuild.url}, text: lastBuild.number"></a> by
        <!-- /ko -->
        <!-- ko if: lastBuildInfo().loading -->
        Loading...
        <!-- /ko -->
        <!-- ko if: lastBuildInfo().changeSet && lastBuildInfo().changeSet.items().length > 0-->
          <a data-bind="attr: {href: $data.lastBuildInfo().changeSet.items()[0].author.absoluteUrl},
              text: $data.lastBuildInfo().changeSet.items()[0].author.fullName"></a>
          <div class="description" data-bind="text:  $data.lastBuildInfo().changeSet.items()[0].date"></div>
          <div class="description" data-bind="text:  $data.lastBuildInfo().changeSet.items()[0].commitId"></div>
          <div class="description" data-bind="text: $data.lastBuildInfo().changeSet.items()[0].msg"></div>
        <!-- /ko -->
        </div>
    </div>
